.post__edit-buttons {
  width: 70px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10px;
  left: 40px;

  .icon__copy {
    // background-color: white;
    i {
      font-size: 20px;
    }
  }
}
