.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  &__logo {
    color: black;
  }

  &__buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}
