.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .post {
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(66, 152, 219);
    height: 100px;
    cursor: pointer;
    &__active {
      background-color: rgb(225 225 145);
    }
    &__done {
      background-color: rgb(156 215 153);
    }
    &__undone {
      background-color: rgb(221 126 98);
    }
    .date {
      width: 80px;
    }
    .cityTo {
      width: 100px;
    }
    .cityFrom {
      width: 100px;
    }
    .money {
      width: 40px;
    }
    .price {
      width: 40px;
    }
    .cargoOwner {
      width: 140px;
    }
    .driver {
      width: 140px;
    }
    .car {
      width: 140px;
    }
    div {
      width: 100px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    &__edit_buttons {
      display: flex;
      justify-content: space-between;
    }
    &__note {
      position: absolute;
      top: 0;
      font-size: 20px;
      color: rgb(58, 169, 233);
    }

    &__status-radio {
      background-color: red;
    }
  }

  .user__circle {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: orange;
    border-radius: 50px;
    width: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 991px) {
  .posts {
    .post {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 40px;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 1px 1px 5px rgb(66, 152, 219);
      cursor: pointer;
      div {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }

      &__edit_buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      &__note {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
      }
      .user__circle {
        position: absolute;
        width: 20%;
      }
    }
  }
}

.icon__copy {
  // width: 100px;
}

.loader {
  display: flex;
  // width: 100%;
  // height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
