.posts {
  .post {
    &__active {
      background-color: rgb(232, 232, 88);
    }
    &__done {
      background-color: rgb(89, 239, 81);
    }
    &__undone {
      background-color: rgb(222, 83, 41);
    }
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(66, 152, 219);
    cursor: pointer;
    div {
      width: 100px;
      display: flex;
      align-items: center;
      text-align: center;
      // background-color: red;
      // height: 100%;
    }

    &__edit_buttons {
      display: flex;
      justify-content: space-between;
    }
    &__note {
      position: absolute;
      top: 0;
      font-size: 20px;
      color: rgb(58, 169, 233);
    }

    &__status-radio {
      background-color: red;
    }
  }

  .user__circle {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: orange;
    border-radius: 50px;
    width: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 991px) {
  .posts {
    .post {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 40px;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 1px 1px 5px rgb(66, 152, 219);
      cursor: pointer;
      div {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }

      &__edit_buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      &__note {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
      }
      .user__circle {
        position: absolute;
        width: 20%;
      }
    }
  }
}
