body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lardi__cargo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  div {
    display: flex;
    width: 200px;
  }
  .payment {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
}
